<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List detail</title>
</head>

<body>
    <main>
        <div>
            <h1> {{todo_list.name}} </h1>
            <p><a href="{% url 'todo_list_update' id=todo_list.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' id=todo_list.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Tasks</th>
                        <th>Due date</th>
                    </tr>
                <tbody>
                    {% for todo_item in todo_items %}
                    <tr>
                        <td> <a href="{% url 'todo_item_update'  id=todo_item.id %}">{{ todo_item.task }} </a>
                        </td>
                        <td> {{todo_item.due_date }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </thead>
            </table>
        </div>
    </main>
</body>

</html>
